html, body 
{
		height: 100%;
		margin: 0;
		padding: 0;
		text-align:center;
		letter-spacing:auto;

}

#EmplacementDeMaCarte 
{
		height: 100%;
}

.btn, .btn a{
	width:60%;
	min-height:11%;
	margin-top:1vh;
	margin-bottom:1vh;
	text-align:center;
	color:white;
	
}

/* 71% LEFT*/
#titremenu{
	letter-spacing: -2px;
	font-size:2em;
	margin:auto;
	margin-top:5vh;
	margin-bottom:5vh;
}

.previous{
	list-style:none;
	background-color:#cacfd2;
}

.arrows{
	color: #5dade2;
	font-size:1.5em;
}

.precedent{
	color: #5dade2;
	font-size:1.5em;
	margin-left:-20vh;
	position:absolute;
}

/* Style des paragraphe des textes de fin et des textes explicatfs*/
.textefinal{
	width:75%;
	padding:25px;
	margin:auto;
}

/*Style des textes énoncés*/
.texte_question{

	width:70%;
	padding:25px;
	margin:auto;
	background-color:#415b76;
	color:white;
	border-radius:6px;
}

